#loading{
    font-family: 'Lobster';
    color: rgb(0, 0, 0);
    height: 20px;
    text-align: center;
}

#body {
    margin-top: 30px;
    background: #3BC0C7;
  }
  
#top {
    text-align: center;
}
#shadow {
    box-shadow: 0px 0px 5px 0px;
    padding-top: 10px;
}
#h2, #a{
    color: #fff;
}
#WalletJumbo{
    margin-bottom:0;
    background: #6ed3cf;
}
#StatusJumbo{
    margin-bottom:0;
    background: #9068be;
}
#MyWalletJumbo{
    margin-bottom:0;
    background: teal;
    font-family: Lobster;
}
#EditWalletJumbo{
    margin-bottom:0;
    background: #ee553a;
}