<body>
    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
            <h5>You cane change your profile detail, add a wallet or create a new wallet here.</h5>
                <form class="" method="post" action="#">
                    
                    <h2>Change avatar:</h2>
                        <ul id="thumbnailsList">
                           <li *ngFor="let image of imagePaths; let i = index" >
                              <img src="{{image}}" class="tn"
                              width="191" class="img-thumbnail" height="146"  
                                    (click)=onImgClick(i);>
                           </li>
                        </ul>

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Change About me</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" #bioval class="form-control" (keyup.enter)="onEnter(bioval.value)"  placeholder="Enter your new bio and press enter"/>
                                <p>New Bio: {{bioval.value}}</p>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
     </div>
</body>
