<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <p>Post about blockchain activity</p>
            <div class="form-group">
                    <label for="inputdefault">Status title</label>
                    <input class="form-control" [(ngModel)]="title" id="inputdefault" type="text">
                </div>
                <div class="form-group">
                    <label for="inputdefault">Status text:</label>
                    <input type="text" class="form-control" [(ngModel)]="text">
                </div>
        </div>
    </div>
<h2> select a value from around the world to post about!</h2>
<div class="mdl-cell mdl-cell--4-col">
        <div class="populate-table" >
            <table>
                <tr>
                    <th>FIAT</th>
                    <th>PRICE</th>
                    <th>BUY</th>
                    <th>SELL</th>
                    <th>MORE</th>
                </tr>
                <tr *ngFor="let p of prices;">
                    <td> {{ p.symbol }} </td>
                    <td> {{ p.last }} </td>
                    <td> {{ p.buy }} </td>
                    <td> {{ p.sell }} </td>
                    <td> <a (click)="onSetValue(p.symbol,p.last,p.buy,p.sell)"> SET </a> </td> <!-- MAKE CHANGE HERE -->
                </tr>
            </table>
        </div>
</div>
    <p>{{ postLast }}</p>
    <p>{{ postSell }}</p>
    <p>{{ postBuy }}</p>
    <p>{{ postSymbol }}</p>
</div>
<button id="submitBtn" class="btn btn-primary" (click)="onStatusPriceSubmit()">Post status</button>