<h3>Choose an address from your wallets</h3>
<div class="container">
        <div class="form-group">
                <label for="inputdefault">Status title</label>
                <input class="form-control" [(ngModel)]="title" id="inputdefault" type="text">
            </div>
            <div class="form-group">
                <label for="inputdefault">Status text:</label>
                <input type="text" class="form-control" [(ngModel)]="text">
            </div>
       
    <table class="table table-hover"  >
            <thead>
                <tr>
                    <th>GUID</th>
                    <th>Address</th>
                    <th>Wallet label</th>
                </tr>
            </thead>
            <tbody *ngFor="let value of wallets">
                <tr>
                    <td><button type = "button" (click)="setGuid(value.guid)" class = "btn btn-primary">
                            Set</button></td>
                    <td>{{value.address}}</td>
                    <td>{{value.label}}</td>
                </tr>
            </tbody>
    </table>

    <p>Click the button below to get the value of the selected address using its guid: {{guid}}</p>
    <div class="row">
        <div class="form-group">
                <label for="password">Wallet Password:</label>
                <input type="password" class="form-control" [(ngModel)]="pass">
            </div>
            <div class="form-group">
                <label for="password">Wallet Password validation:</label>
                <input type="password" class="form-control" [(ngModel)]="passvalid">
        </div>
        <button type = "button" class = "btn btn-primary" (click)="onGetBal()">Retrive Balance</button>
    </div>

<h2>balance = {{balance}}</h2>
<h2>title = {{title}}</h2>
<h2>text = {{text}}</h2>
<button type = "button" class = "btn btn-primary" (click)="onStatusBalSubmit()">Submit Status</button>
</div>