<div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="inputdefault">Status title</label>
                        <input class="form-control" [(ngModel)]="title" id="inputdefault" type="text">
                    </div>
                    <div class="form-group">
                        <label for="inputdefault">Status text:</label>
                        <input type="text" class="form-control" [(ngModel)]="text">
                    </div>
                    <div class="form-group">
                        <label for="inputdefault">Amount requested:</label>
                        <input type="number" class="form-control" [(ngModel)]="amount">
                    </div>
                    <h2>Choose a wallet</h2>
                    <table class="table table-hover" *ngFor="let value of wallets" >
                        <thead>
                            <tr>
                                <th>SET ADDRESS</th>
                                <th>Address</th>
                                <th>Wallet label</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><button type = "button" (click)="setAddress(value.address)" class = "btn btn-primary">
                                        Set</button></td>
                                <td>{{value.address}}</td>
                                <td>{{value.label}}</td>
                            </tr>
                        </tbody>
                   </table>
                    <div class="form-group">
                        <label for="inputdefault">Custom address:</label>
                        <input type="text"  #targetInput>
                        <button type="submit" class="btn btn-success" (click)="setAddress(targetInput.value)">Set address</button>
                    </div>
                <button id="submitBtn" class="btn btn-primary" (click)="onStatusSubmit()">Post status</button>
            </div>
        </div>
    </div>