<html>
  <head>
    <title>Crypto Wallet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <!-- APIs -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4rNge4TKKxorFGR8mHWx4Qs_4KQfIXAo&callback" async defer></script>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <!-- 2. Configure SystemJS -->
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
  </head>
  <!-- 3. Display the application -->
  <body>
    <base href="/">
    <my-app>
        <img id="image_load" src="\views\bitcoinload.gif" style="height: 100%; width: 100%" data-rotate="90">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:70%">
              Loading Bitcoin Wallet....
            </div>
          </div>
    </my-app>
  </body>
</html>