.card {
	margin-bottom: 2em;
}

.card-body {
	border: 1px solid #ddd;
	border-bottom: 0;
	border-radius: 4px 4px 0 0;
	min-width: 320px;
}

ul.list-group {
	margin-bottom: 0;
}

.list-group-item:first-child {
	border-radius: 0;
}

.green{
	color: #7CB159;
}

.red {
	color: #EA1010;
}