      <div class="container-fullwidth">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" routerLink="/">Bitcoin Wallet</a>
              </div>
              <ul class="nav navbar-nav">
                <li *ngIf="authService.loggedIn()" ><a routerLink="/home">Home</a></li>
                <li *ngIf="authService.loggedIn()"><a routerLink="/linkwallet">My Wallet</a></li>
                <li *ngIf="authService.loggedIn()"><a routerLink="/friends">Friends</a></li>
                <li *ngIf="authService.loggedIn()"><a routerLink="/settings">Settings</a></li>
                <li class="dropdown">
                  <a *ngIf="authService.loggedIn()" class="dropdown-toggle" data-toggle="dropdown" href="#">Support
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li *ngIf="authService.loggedIn()"><a href="https://github.com/Smurfgalway/Final-Year-Project-Applied-Diss/issues">Report Issue</a></li>
                    <li *ngIf="authService.loggedIn()"><a routerLink="/FAQ">FAQ and help</a></li>
                    <li *ngIf="authService.loggedIn()"><a href="https://github.com/blockchain/service-my-wallet-v3">blockchain.info API</a></li>
                  </ul>
                </li>
              </ul>
              <div class="col-sm-3 col-md-3">
                  <form class="navbar-form" role="search">
                  <div class="row">
                    <input #search type="text" class="form-control" placeholder="Search" name="q">
                    <button class="btn btn-default" type="submit" (click)="goToSearch(search.value)"><a class="glyphicon glyphicon-search"></a></button>
                  </div>
                  </form>
              </div>
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a *ngIf="authService.loggedIn()" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="	glyphicon glyphicon-euro"></span> Prices
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li *ngIf="authService.loggedIn()"><a routerLink="/price"><span class="	glyphicon glyphicon-euro"></span> Live Prices</a></li>
                          <li *ngIf="authService.loggedIn()"><a routerLink="/convert"><span class="glyphicon glyphicon-bitcoin"></span> Convert FIAT</a></li>  
                      </ul>
                    </li>
                <li *ngIf="authService.loggedIn()"><a routerLink="/blog"><span class="	glyphicon glyphicon-envelope"></span> Posts</a></li>
                <li *ngIf="authService.loggedIn()"><a routerLink="/sendbtc"><span class="glyphicon glyphicon-plus"></span> Send BTC</a></li>
                <li *ngIf="authService.loggedIn()"><a routerLink="/global"><span class="glyphicon glyphicon-globe"></span> Users</a></li>
                <li *ngIf="!authService.loggedIn()"><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li *ngIf="!authService.loggedIn()"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li *ngIf="authService.loggedIn()"><a routerLink="/profile"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
                <li *ngIf="authService.loggedIn()"><a href="#" (click)="onLogoutClick()">Logout</a></li>
              </ul>
        </div>
      </nav>
    </div>
    <router-outlet></router-outlet>