<div class="row">
    <div class="col-md-3 col-md-offset-5">
        <p>Post about blockchain activity</p>
        <textarea></textarea>
              
        <button type="button" class="btn btn-info">Info</button>
    </div>
</div>


 <p>{{ market_price_usd }}</p>                    
 <p>{{ hash_rate }} </p>              
 <p>{{ total_fees_btc }} </p>                
 <p>{{ n_btc_mined }}  </p>             
 <p>{{ n_tx }}   </p>                   
 <p>{{ totalbc }}    </p>                     
 <p>{{ n_blocks_total }}  </p>            
 <p>{{ estimated_transaction_volume_usd }} </p> 
 <p>{{ blocks_size }}   </p>            
 <p>{{ miners_revenue_usd }}   </p>      
 <p>{{ nextretarget }}    </p> 
 <p>{{ difficulty }}    </p>            
 <p>{{ estimated_btc_sent }}    </p>        
 <p>{{ miners_revenue_btc }}    </p>  
 <p>{{ total_btc_sent }}    </p>        
 <p>{{ trade_volume_btc }}    </p>       
 <p>{{ trade_volume_usd }}    </p>      
 <p>{{ timestamp }}    </p>            
           