<div class="row">
    <div class="col-md-3 col-md-offset-5">
        <p>Would you like to post about the current prices?</p>
        <textarea></textarea>
              
        <button type="button" class="btn btn-info">Info</button>
    </div>
</div>

<div class="mdl-cell mdl-cell--4-col">
        <div class="populate-table" >
            <table>
                <tr>
                    <th>FIAT</th>
                    <th>PRICE</th>
                    <th>BUY</th>
                    <th>SELL</th>
                    <th>MORE</th>
                </tr>
                <tr *ngFor="let p of prices;">
                    <td> {{ p.symbol }} </td>
                    <td> {{ p.last }} </td>
                    <td> {{ p.buy }} </td>
                    <td> {{ p.sell }} </td>
                    <td> <a (click)="clicked(item)"> See </a> </td> <!-- MAKE CHANGE HERE -->
                </tr>
            </table>
        </div>
    </div>