<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <form>
        < <div class="form-group">
          <label for="exampleFormControlInput1">Enter your name</label>
          <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="enter name">
        </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Enter your Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter email">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter your message here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="enter your message here" rows="3"></textarea>
  </div>
  <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            General Enquiry
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Issue report
          </label>
        </div>
        <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
      </form>
</body>
</html>