<div class="container">
        <div class="jumbotron" id="MyWalletJumbo">
          <h1>Profile Wallet</h1> 
          <p>This is your profiles bitcoin address, this will be publicly displayed on your profile and status posts.
          </p> 
          <div class="row nav">    
                <div class="col-md-4"></div>
                <h4>YOUR ADDRESS WILL BE HERE</h4>
                <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
                    <button type="button" class="btn btn-primary btn-lg btn-block">
                        <span class="glyphicon glyphicon-floppy-disk"></span> 
                        Click here to copy address
                </button>
                <h4>QR CODE</h4>
            </div>
        </div>
    </div> 
</div>
<div class="container">
        <div class="jumbotron" id="EditWalletJumbo" >
          <h1>Edit Profile Address</h1> 
          <p>You need an address in order to link your profile to the blockchain. If you already have an address
              you can paste it in below or you can generate a new one.
          </p> 
          <div class="row nav">    
                <div class="col-md-4"></div>
                <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
                    <button type="button" class="btn btn-danger btn-lg btn-block">
                        <span class="glyphicon glyphicon-edit"></span> 
                        Add pre-existing bitcoin address.
                </button>
                <button type="button" class="btn btn-danger btn-lg btn-block">
                    <span class="glyphicon glyphicon-plus">
                        </span> Create New Bitcoin Address. </button>
            </div>
        </div>
    </div> 
</div>