<div class="container" *ngFor="let p of profiles">
    <div class="row">
      <div class="shadow">
        <div class="col-sm-12">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <h4><a href="#">{{ p.username}}</a></h4>
            <div class="col-md-4 col-xs-4 well"><i class="glyphicon glyphicon-globe"></i> {{ p.statusCount }} </div>
            <div class="col-md-4 col-xs-4 well"><i class="glyphicon glyphicon-user"></i> {{ p.friendCount }} </div>
            <div class="col-md-4 col-xs-4 well"><i class="glyphicon glyphicon-off"></i> {{ p.isOnline }} </div>
          </div>
          <div class="col-sm-2">
            <p>View {{ p.username }}'s profile</p>
            <button type="button" class="btn btn-info" (click)="viewProfile(p.username)"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </div>
        </div>
    </div>
</div>