<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>MEAN Template</title>
  
</head>

<body>
<div class="container">
  <div class="row ">
    <div class="col-xs-3"  style="padding: 0; margin: 0;">
        <img id="Profile" class="img-responsive" src="app\img\???" style="height: 95%; width: 100%" routerLink="/profiles" />
        <div id="over">My Profile</div>
    </div>
    <div class="col-xs-3" style="padding: 0; margin: 0;">
        <img id="Map"class="img-responsive" src="app\img\???" style="height: 95%; width: 100%" routerLink="/maps" />
        <div id="over">Map</div>
    </div>
    <div class="col-xs-3"  style="padding: 0; margin: 0;">
      <img id="Trading" class="img-responsive" src="app\img\???" style="height: 95%; width: 100%" routerLink="/trade" />
      <div id="over">Trading</div>
    </div>
    <div class="col-xs-3" style="padding: 0; margin: 0;">
      <img id="Cryptocurrency News" class="img-responsive" src="app\img\???" style="height: 95%; width: 100%" routerLink="/news" />
      <div id="over">Cryptocurreny News</div>
    </div>
  </div>
</div>
</body>
</html>