<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>MEAN Template</title>
  <style>
  .container{
    text-align: center;
    align-content: center;
  }
  </style>
</head>

<body>
<div class="container">
  <div class="row ">
    <div class="col-xs-3"  style="padding: 0; margin: o; height: 600px; width: 400px;">
        <img id="Profile" class="img-responsive" src="app\profile.png" style="height: 90%; width: 90%;" routerLink="/profile" />
    </div>
    <div class="col-xs-3" style="padding: 0; margin: 0; height: 600px; width: 400px;">
        <img id="Map"class="img-responsive" src="app/map.png" style="height: 90%; width: 90%;" routerLink="/map" />
    </div>
    </div>
    <div class="row">
    <div class="col-xs-3"  style="padding: 0; margin: 0; height: 600px; width: 400px;">
      <img id="Trading" class="img-responsive" src="app\stocks.png" style="height: 90%; width: 90%;" routerLink="/trade" />
    </div>
    <div class="col-xs-3" style="padding: 0; margin: 0; height: 600px; width: 400px;">
      <img id="Cryptocurrency News" class="img-responsive" src="app\default.png" style="height: 90%; width: 90%;" routerLink="/news" />
      <div id="over">Cryptocurreny News</div>
    </div>
  </div>
</div>
</body>
</html>