<h1>Post Status Page</h1>

<div class = "row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div >
    <div id="cryptoMap" style="clear:both; height:700px;"></div>
</div>

<!-- Registration Form -->
<form [formGroup]="form" (submit)="onStatusSubmit()">
  
    <div class="form-group">
            <label for="inputdefault">Enter post title</label>
            <input class="form-control" name="title" id="inputdefault" type="text">
    </div>

    <div class="form-group">
            <label for="inputdefault">Enter post text</label>
            <input class="form-control" name="text" id="inputdefault" type="text">
    </div>

    <div class="form-group">
            <label for="inputdefault">Enter bitcoin amount</label>
            <input class="form-control" name="price" id="inputdefault" type="text">
    </div>

    <div class="form-group">
    <select (change)="selectItem($event.target.value)">
            <label for="inputdefault">Enter bitcoin amount</label>
            <option *ngFor="let value of values" value={{value.label}}>{{value.label}}</option>
    </select>
    </div>

    <p class = "tpbutton btn-toolbar text-center">
            <a (click)="getLocation()" class = "btn navbar-btn btn-primary" href = "#">Use your loction</a>
            <a class = "btn navbar-btn btn-default" href = "#">Set location by clicking map</a>
    </p>
  
    <!-- Submit Input -->
    <input [disabled]="!form.valid || processing" type="submit" class="btn btn-primary" value="Submit" />
  
  </form>