<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Profile Page</title>
  <meta name="description" content="Profile Page">
</head>
<body>
  <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel">
      <div class="col-md-4 bg_blur ">
      </div>
          <div class="col-md-8  col-xs-12">
             <img src={{imagePath}} class="img-thumbnail" width="50" height="50">
             <div class="header">
                  <h2>{{ user }}</h2>
                  <h4>About me:</h4>
                  <p>{{ profile.aboutMe }}</p>
                  <h5>Contact:</h5>
                  <p>{{ useremail }}</p>
             </div>
          </div>
      </div>   
    <div class="row nav">    
          <div class="col-md-4"></div>
          <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
              <div class="col-md-4 col-xs-4 well"><i class="glyphicon glyphicon-globe"></i> 16</div>
              <div class="col-md-4 col-xs-4 well"><i class="glyphicon glyphicon-user"></i> 14</div>
              <div class="col-md-4 col-xs-4 well"><i class="glyphicon glyphicon-off"></i> Online </div>
          </div>
      </div>
      <div>
        <h4>My Wallet</h4>
          <div class="jumbotron" id="WalletJumbo">
              <div class="container">
                <h4>{{ profile.username }}'s Address</h4>
                        {{ profile.bitcoinAddress }}
              </div>
          </div>
      <h4>Status Section</h4>
      <div class="jumbotron" id="StatusJumbo">
          <div class="container">
            <h4>Status Name</h4>
            Statuses goe here
          </div>
        </div>
      </div>
  </div>
</body>
</html>