<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Profile Page</title>
  <meta name="description" content="Profile Page">
  <meta name="author" content="SitePoint">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/core.js" type="text/javascript"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
</head>
<body>
  
  
  <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel">
      <div class="col-md-4 bg_blur ">
        <button type="button" class="btn btn-success">Success</button>
      </div>
          <div class="col-md-8  col-xs-12">
             <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail picture hidden-xs" />
             <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail visible-xs picture_mob" />
             <div class="header">
                  <h1>Profile page</h1>
                  <h4>Blockchain woop</h4>
             </div>
          </div>
      </div>   
      
    <div class="row nav">    
          <div class="col-md-4"></div>
          <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
              <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 16</div>
              <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
              <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
          </div>
      </div>
  </div>
</body>
</html>