<h1>Register Page</h1>

<form>
    <div class="form-group">`
      <label for="username">Username</label>
      <div>
        <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" fromControlName="username">
      </div>
    </div>
    <div class="form-group">`
      <label for="email">E-mail</label>
      <div>
        <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*E-mail">
      </div>
    </div>
    <div class="form-group">`
      <label for="password">Password</label>
      <div>
        <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password">
      </div>
    </div>
    <div class="form-group">`
      <label for="confirm">Confirm Password</label>
      <div>
        <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password">
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>