<h1>Register Page</h1>

<form [formGroup]="form" (submit)="onRegisterSubmit()">
    <div class="form-group">`
      <label for="username">Username</label>
      <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty), 'has-success': !form.controls.username.errors}">
        <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" formControlName="username" />
        <ul class="help-block">
          <li *ngIf="form.controls.username.errors?.required  && form.controls.username.dirty"> This field is required</li>
        </ul>
      </div>
    </div>
    <div class="form-group">`
      <label for="email">E-mail</label>
      <div>
        <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*E-mail" formControlName="email" />
      </div>
    </div>
    <div class="form-group">`
      <label for="password">Password</label>
      <div>
        <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password" />
      </div>
    </div>
    <div class="form-group">`
      <label for="confirm">Confirm Password</label>
      <div>
        <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm" />
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>

  <!--<p>Username: {{ form.controls.username.value }}</p>-->