<h1>Register Page</h1>

<div class = "row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>

</div>

<form [formGroup]="form" (submit)="onRegisterSubmit()">
    <div class="form-group">`
      <label for="username">Username</label>
      <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty), 'has-success': !form.controls.username.errors}">
        <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" formControlName="username" />
        <ul class="help-block">
          <li *ngIf="form.controls.username.errors?.required  && form.controls.username.dirty"> This field is required</li>
          <li *ngIf="(form.controls.username.errors?.minLength || form.controls.username.errors?.maxLength) && form.controls.username.dirty">Minimum characters: 3, Maximum characters: 15</li>
          <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not have any special characters</li>
        </ul>
      </div>
    </div>
    <div class="form-group">`
      <label for="email">E-mail</label>
      <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty), 'has-success': !form.controls.email.errors}">
        <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*E-mail" formControlName="email" />
        <ul class="help-block">
          <li *ngIf="form.controls.email.errors?.required  && form.controls.email.dirty"> This field is required</li>
          </ul>
        <ul class="help-block">
          <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid email</li>
        </ul>
        <ul class="help-block">
          <li *ngIf="(form.controls.email.errors?.minLength || 
          form.controls.email.errors?.maxLength) && form.controls.email.dirty"> Minimum characters: 5, Maximum characters: 30</li>
        </ul>
      </div>
    </div>
    <div class="form-group">`
      <label for="password">Password</label>
      <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
        <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password" />
        <ul class="help-block">
          <li *ngIf="form.controls.password.errors?.required  && form.controls.password.dirty"> This field is required</li>
          <li *ngIf="form.controls.password.errors?.minLength ||
          form.controls.password.errors?.maxLength"> Minimum characters: 8, Maximum characters: 30</li>
          <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Must have at least one uppercase, lowercase, special character, and number</li>
        </ul>
      </div>
    </div>
      <!-- Confirm Password Input -->
  <div class="form-group">
    <label for="confirm">Confirm Password</label>
    <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
      <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
        <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</li>
      </ul>
    </div>
  </div>
    <input [disabled]="!form.valid" type="submit" class="btn btn-primary" value="Submit">
  </form>