div#crypto-container {
    background:lightblue;
    width: 70%;
    margin: 0 auto 4px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 black;
  }
  
  span.left {
    font-weight: bold;
  }
  
  span.right {
    float:right;
  }