<div class="container">
<div class="bs-example">
  <div class="panel-group" [attr.id]="'accordion_' + i" *ngFor="let p of profiles; let i = index;">
      <div class="panel panel-default" >
          <div class="panel-heading">
            <div class="row">
              <div class="shadow">
                <div class="col-sm-12">
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-8">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i">{{ p.username }}</a>
                    </h4>
                    <div class="col-md-4 col-xs-4 well"><i class="glyphicon glyphicon-globe"></i> {{ p.statusCount }} </div>
                    <div class="col-md-4 col-xs-4 well"><i class="glyphicon glyphicon-user"></i> {{ p.friendCount }} </div>
                    <div class="col-md-4 col-xs-4 well"><i class="glyphicon glyphicon-off"></i> {{ p.isOnline }} </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
          <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse">
              <div class="panel-body">
                <span class="pull-left">
                  <p>{{p.aboutMe}}</p>
                </span>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
