<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            width: 100%;
            height: 100%;
            background-image: url('/app/img/Profilebackground.png');
            background-size: cover;
        }
    </style>
  <title>Profile Page</title>
  <meta name="description" content="Profile Page">
</head>
<body>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:0px">    
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <br>
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
           <h4 class="w3-center">My Profile</h4>
           <p class="w3-center"><img src="/app/avatars/1.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
           <hr>
           <p><i class="fa fa-address-book fa-fw w3-margin-right w3-text-theme"></i> {{ user.username }}</p>
           <p><i class="fa fa-address-card-o fa-fw w3-margin-right w3-text-theme"></i> {{ useremail.email }}</p>
           <p><i class="fa fa-edit fa-fw w3-margin-right w3-text-theme"></i> Hello my username is {{ user.username }}. You can contact me at my email address {{ useremail.email }}.</p>
          </div>
        </div>
        <br>
        
        <!-- Accordion -->
        <div class="w3-card w3-round">
          <div class="w3-white">
            <button class="w3-button w3-block w3-theme-l1 w3-left-align" routerLink="/blog"><i class="fa fa-envelope-o fa-fw fa-fw w3-margin-right"></i> User Blogs</button>
            <div id="Demo1" class="w3-hide w3-container">
              <p>Some text..</p>
            </div>
            <button class="w3-button w3-block w3-theme-l1 w3-left-align" routerLink="/friends"><i class="fa fa-users fa-fw w3-margin-right"></i> Friends</button>
            <div id="Demo2" class="w3-hide w3-container">
              <p>Some other text..</p>
            </div>
            <button class="w3-button w3-block w3-theme-l1 w3-left-align" routerLink="/map"><i class="	fa fa-map-pin fa-fw w3-margin-right"></i> Maps</button>
            <div id="Demo3" class="w3-hide w3-container">
           <div class="w3-row-padding">
           <br>
           </div>
            </div>
          </div>      
        </div>
        <br>
        
        
        <!-- Interests --> 
        <div class="w3-card w3-round w3-white w3-hide-small">
          <div class="w3-container">
            <p>Other Links</p>
            <p>
              <span class="w3-tag w3-small w3-theme-d5" routerLink="/cryptonews">News</span>
              <span class="w3-tag w3-small w3-theme-d4" routerLink="/trading">Trading</span>
              <span class="w3-tag w3-small w3-theme-d3" routerLink="/settings">Settings</span>
              <span class="w3-tag w3-small w3-theme-d2" routerLink="/newwallet">New Wallet</span>
              <span class="w3-tag w3-small w3-theme-d1" routerLink="/sendbtc">Send Bitcoin</span>
              <span class="w3-tag w3-small w3-theme" routerLink="/global">Users</span>
              <span class="w3-tag w3-small w3-theme-l1" routerLink="/poststatus">Post Status</span>
              <span class="w3-tag w3-small w3-theme-l2" routerLink="/poststats">Post Stats</span>
            </p>
          </div>
        </div>
        <br>
      
      <!-- End Left Column -->
      </div>
      
      <!-- Middle Column -->
      <br>
      <div class="w3-col m7">
      
        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <h4>{{ user.username }}'s Wallets</h4>
                    <div class="container" *ngFor="let value of wallets" >
                        {{ value.label }} : {{ value.address }} 
                    </div>
                      <h1>Status Section</h1>
                <h3>Regular statuses</h3>
                <div class="container" *ngFor="let value of status">
                <div class="col-sm-1">
                  <div class="thumbnail">
                  <img class="img-responsive user-photo" src={{imagepath}}>
                  </div><!-- /thumbnail -->
                  </div><!-- /col-sm-1 -->
                  
                  <div class="col-sm-5">
                  <div class="panel panel-default">
                  <div class="panel-heading">
                  <strong>{{user.username}}</strong> <span class="text-muted"><p>{{value.title}}</p></span>
                  </div>
                  <div class="panel-body">
                    <h5>Description:</h5>
                    <p>{{value.text}}</p> 
                    <h5>Metrics:</h5>
                    <p>from: {{value.bitcoinAddress}}</p> 
                    <p>{{Timestamp(value.date)}} </p>
                  </div><!-- /panel-body -->
                  <button type="button" class="btn btn-danger" (click)="onDeleteStatus(value.title)">Delete</button>
                  </div><!-- /panel panel-default -->
                  </div><!-- /col-sm-5 -->
                </div>
                <h3>Balance Posts</h3>
                <div class="container" *ngFor="let value of balStatus">
                    <div class="col-sm-1">
                      <div class="thumbnail">
                      <img class="img-responsive user-photo" src={{imagepath}}>
                      </div><!-- /thumbnail -->
                      </div><!-- /col-sm-1 -->
                      
                      <div class="col-sm-5">
                      <div class="panel panel-default">
                      <div class="panel-heading">
                      <strong>{{user.username}}</strong> <span class="text-muted"><p>{{value.title}}</p></span>
                      </div>
                      <div class="panel-body">
                        <h5>Description:</h5>
                        <p>{{value.text}}</p> 
                        <h5>Metrics:</h5>
                        <p>Wallet balance: {{value.balance}}</p> 
                        <p>by {{value.date}}</p> 
                        <p>{{Timestamp(value.date)}}</p>
                      </div><!-- /panel-body -->
                      <button type="button" class="btn btn-danger" (click)="onDeleteBalStatus(value.title)">Delete</button>
                      </div><!-- /panel panel-default -->
                      </div><!-- /col-sm-5 -->
                    </div>
                <h3>Blockchain Activity Posts</h3>
                <div class="container" *ngFor="let value of statStatus">
                    <div class="col-sm-1">
                      <div class="thumbnail">
                      <img class="img-responsive user-photo" src={{imagepath}}>
                      </div><!-- /thumbnail -->
                      </div><!-- /col-sm-1 -->
                      
                      <div class="col-sm-5">
                      <div class="panel panel-default">
                      <div class="panel-heading">
                      <strong>{{user.username}}</strong> <span class="text-muted"><p>{{value.title}}</p></span>
                      </div>
                      <div class="panel-body">
                        <h5>Description:</h5>
                        <p>{{value.text}}</p> 
                        <h5>Metrics:</h5>
                            <p>Market value USD: {{value.market_price_usd}}</p> 
                            <p>Total fees collected: {{value.total_fees_btc}}</p> 
                            <p>Bitcoin mined: {{value.n_btc_mined}}</p> 
                            <p>Transactions: {{value.n_tx}}</p> 
                            <p>Blocks mined: {{value.n_blocks_mined}}</p> 
                            <p>Total bitcoin: {{value.totalbc}}</p> 
                            <p>Bitcoin mined: {{value.n_btc_mined}}</p> 
                            <p>Blocks total: {{value.n_blocks_total}}</p>
                            <p>EST transaction volume USD: {{value.estimated_transaction_volume_usd}}</p> 
                            <p>Blocks size: {{value.blocks_size}}</p> 
                            <p>Miner revenue USD: {{value.miners_revenue_usd}}</p> 
                            <p>Next target: {{value.nextretarget}}</p>
                            <p>Difficulty: {{value.difficulty}}</p>
                            <p>EST bitcoin sent: {{value.estimated_btc_sent}}</p> 
                            <p>Miner revenue BTC: {{value.miners_revenue_btc}</p> 
                            <p>Total BTC sent: {{value.total_btc_sent}}</p> 
                            <p>Trade volume BTC: {{value.trade_volume_btc}}</p>
                            <p>Trade volume USD: {{value.trade_volume_usd}}</p>
                            <p>Statistics from: {{Timestamp(value.timestamp)}}</p> 
                            <p>{{Timestamp(value.date)}}</p> 
                      </div><!-- /panel-body -->
                      <button type="button" class="btn btn-danger" (click)="onDeleteStatsStatus(value.title)">Delete</button>
                      </div><!-- /panel panel-default -->
                      </div><!-- /col-sm-5 -->
                    </div>
                <h3>Miner Activity Posts</h3>
                <div class="container" *ngFor="let value of poolsStatus">
                    <div class="col-sm-1">
                      <div class="thumbnail">
                      <img class="img-responsive user-photo" src={{imagepath}}>
                      </div><!-- /thumbnail -->
                      </div><!-- /col-sm-1 -->
                      
                      <div class="col-sm-5">
                      <div class="panel panel-default">
                      <div class="panel-heading">
                      <strong>{{user.username}}</strong> <span class="text-muted"><p>{{value.title}}</p></span>
                      </div>
                      <div class="panel-body">
                        <h5>Description:</h5>
                        <p>{{value.text}}</p> 
                        <h5>Metrics:</h5>
                        <p>Unknown: {{value.Unknown}}</p> 
                        <p>GBMiner: {{value.GBMiners}}</p> 
                        <p>SlushPool {{value.SlushPool}}</p> 
                        <p>KanoPool: {{value.KanoCKPool}}</p> 
                        <p>BitFury {{value.BitFury}}</p> 
                        <p>AntPool: {{value.AntPool}}</p> 
                        <p>F2Pool: {{value.F2Pool}}</p> 
                        <p>ViaBTC: {{value.ViaBTC}}</p>
                        <p>{{Timestamp(value.date)}}</p>
                      </div><!-- /panel-body -->
                      <button type="button" class="btn btn-danger" (click)="onDeletePoolStatus(value.title)">Delete</button>
                      </div><!-- /panel panel-default -->
                      </div><!-- /col-sm-5 -->
                    </div>
                <h3>Bitcoin Value Posts</h3>
                <div class="container" *ngFor="let value of tickerStatus">
                    <div class="col-sm-1">
                      <div class="thumbnail">
                      <img class="img-responsive user-photo" src={{imagepath}}>
                      </div><!-- /thumbnail -->
                      </div><!-- /col-sm-1 -->
                      
                      <div class="col-sm-5">
                      <div class="panel panel-default">
                      <div class="panel-heading">
                      <strong>{{user.username}}</strong> <span class="text-muted"><p>{{value.title}}</p></span>
                      </div>
                      <div class="panel-body">
                        <h5>Description:</h5>
                        <p>{{value.text}}</p> 
                        <h5>Metrics:</h5>
                        <p>Last price sold at: {{value.last}}</p> 
                        <p>Buy: {{value.buy}}</p> 
                        <p>Sell: {{value.sell}}</p> 
                        <p>FIAT: {{value.symbol}}</p>
                        <p>{{Timestamp(value.date)}}</p>
                      </div><!-- /panel-body -->
                      <button type="button" class="btn btn-danger" (click)="onDeletePriceStatus(value.title)">Delete</button>
                      </div><!-- /panel panel-default -->
                      </div><!-- /col-sm-5 -->
                    </div>
                <h3>Bitcoin Related Locations Of Intrest</h3>
                <div class="container" *ngFor="let value of flagStatus">
                    <div class="col-sm-1">
                      <div class="thumbnail">
                      <img class="img-responsive user-photo" src={{imagepath}}>
                      </div><!-- /thumbnail -->
                      </div><!-- /col-sm-1 -->
                      
                      <div class="col-sm-5">
                      <div class="panel panel-default">
                      <div class="panel-heading">
                      <strong>{{user.username}}</strong> <span class="text-muted"><p>{{value.title}}</p></span>
                      </div>
                      <div class="panel-body">
                        <h5>Description:</h5>
                        <p>{{value.text}}</p> 
                        <h5>Metrics:</h5>
                        <p>location: {{value.locationName}}</p> 
                        <p>Contact: {{value.contact}}</p> 
                        <p>{{Timestamp(value.date)}}</p>
                      </div><!-- /panel-body -->
                      <button type="button" class="btn btn-danger" (click)="onDeletePoolStatus(value.title)">Delete</button> 
                      </div><!-- /panel panel-default -->
                      </div><!-- /col-sm-5 -->
                    </div>
                <h3>Donation Requests</h3>
                <div class="container" *ngFor="let value of reqStatus">
                    <div class="col-sm-1">
                      <div class="thumbnail">
                      <img class="img-responsive user-photo" src={{imagepath}}>
                      </div><!-- /thumbnail -->
                      </div><!-- /col-sm-1 -->
                      <div class="col-sm-5">
                      <div class="panel panel-default">
                      <div class="panel-heading">
                      <strong>{{user.username}}</strong> <span class="text-muted"><p>{{value.title}}</p></span>
                      </div>
                      <div class="panel-body">
                        <h5>Description:</h5>
                        <p>{{value.text}}</p> 
                        <h5>Metrics:</h5>
                        <p>Amount requested: {{value.amount}}</p>
                        <p>Address to send to: {{value.address}}</p> 
                        <p>{{Timestamp(value.date)}}</p>
                      </div><!-- /panel-body -->
                      <button type="button" class="btn btn-danger" (click)="onDeleteReqStatus(value.title)">Delete</button>
                      </div><!-- /panel panel-default -->
                      </div><!-- /col-sm-5 -->
                    </div>
              </div>
            </div>
          </div>
        </div>
        
      <!-- End Middle Column -->
      </div>
      
      <!-- Right Column -->
      <div class="w3-col m2">
        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container">
            <p>Twitter Feed:</p>
            <p>
                <a class="twitter-timeline" href="https://twitter.com/cryptocurrency?lang=en">Tweets by CryptoCurrency</a>
            </p> 
          </div>
        </div>
        <br>
        
        <br>
        <br>
        
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
  <!-- End Page Container -->
  </div>
</body>
</html>