<link href='https://fonts.googleapis.com/css?family=Lobster' rel='style.css'>
<div class="container">
    <div class="jumbotron" id="MyWalletJumbo">
      <h1>Profile Wallet</h1> 
      <p>This is your profiles bitcoin address, this will be publicly displayed on your profile and status posts.
      </p> 
      <div class="row nav">    
            <div class="col-md-4"></div>
            <h4>YOUR ADDRESS WILL BE HERE</h4>
            <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
                <button type="button" class="btn btn-primary btn-lg btn-block">
                    <span class="glyphicon glyphicon-floppy-disk"></span> 
                    Click here to copy address
            </button>
            <h4>QR CODE</h4>
        </div>
    </div>
</div> 
</div>