<style>
    body {
        width: 100%;
        height: 100%;
        background-image: url('app/img/Bitcoin.png');
        background-size: cover;
    }
    </style>
<title>MEAN Template</title>
<body>
<div class="text-center">
    <h1 style="color:White;">Bitcoin Wallet</h1>
    <p class="lead" style="color:White;">Welcome to a User Friendly Bitcoin Wallet</p>
    <p class="lead" style="color:White;">Please Login or Register to get started</p>
    <div>
      <a routerLink="/register" class="btn btn-primary">Register</a>
      <a routerLink="/login" class="btn btn-default">Login</a>
    </div>
    <div>
      
    </div>
  </div>
</body>