<style>
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 80px;
        background-color: #ffffff;
    }
</style>

<div >
    <div id="cryptoMap" style="clear:both; height:700px;"></div>
</div>

<nav *ngIf="showmap" class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Normal Status<img src="http://maps.google.com/mapfiles/kml/pushpin/wht-pushpin.png"></a></li>     
            <li ><a href="#">Balance Status<img src="http://maps.google.com/mapfiles/kml/pushpin/blue-pushpin.png"></a></li>        
            <li ><a href="#">Statistics Status<img src="http://maps.google.com/mapfiles/kml/pushpin/purple-pushpin.png"></a></li>
            <li ><a href="#">Miner Status<img src="http://maps.google.com/mapfiles/kml/pushpin/red-pushpin.png"></a></li>        
            <li ><a href="#">Value Status<img src="http://maps.google.com/mapfiles/kml/pushpin/grn-pushpin.png"></a></li>
            <li ><a href="#">Flag Status<img src="http://maps.google.com/mapfiles/kml/pushpin/ltblu-pushpin.png"></a></li>        
            <li ><a href="#">Donation Status<img src="http://maps.google.com/mapfiles/kml/pushpin/ylw-pushpin.png"></a></li>
            <li ><a href="#">Tx<img src="http://maps.google.com/mapfiles/kml/shapes/arrow.png"></a></li>               
          </ul>
        </div>
      </div>
</nav>